<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.marvelousness.springboot.oms.mapper.CustomerMapper">

	<resultMap type="org.marvelousness.springboot.oms.entity.pojo.Customer" id="resultMap">
		<id column="id" property="id" />
		<result column="qq" property="qq" />
		<result column="name" property="name" />
		<result column="nick" property="nick" />
		<result column="phone" property="phone" />
		<result column="wechat" property="wechat" />
		<result column="region" property="region" />
		<result column="remark" property="remark" />
		<result column="wangwang" property="wangwang" />
		<result column="creator_id" property="creatorId" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="TABLE_COLUMN">`id`, `create_time`, `creator_id`, `is_deleted`, `name`, `nick`, `wangwang`, `qq`, `wechat`, `phone`, `region`, `remark`</sql>
	<sql id="TABLE_NAME">`oms_customer`</sql>

	<!-- 根据主键查询客户信息 -->
	<select id="selectByPrimaryKey" resultMap="resultMap" useCache="false">
		SELECT
		<include refid="TABLE_COLUMN" />
		FROM
		<include refid="TABLE_NAME" />
		<where>`is_deleted` = 0 AND `id` = #{id}</where>
	</select>

	<insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO
		<include refid="TABLE_NAME" />
		(`create_time`, `creator_id`, `is_deleted`, `name`, `nick`, `wangwang`, `qq`, `wechat`, `phone`, `region`, `remark`)
		VALUES (NOW(), #{creatorId}, 0, #{name}, #{nick}, #{wangwang}, #{qq}, #{wechat}, #{phone}, #{region}, #{remark});
	</insert>

	<update id="update">
		UPDATE
		<include refid="TABLE_NAME" />
		<set>
			<trim suffixOverrides=",">
				<if test="name != null">`name` = #{name},</if>
				<if test="nick != null">`nick` = #{nick},</if>
				<if test="wangwang != null">`wangwang` = #{wangwang},</if>
				<if test="qq != null">`qq` = #{qq},</if>
				<if test="wechat != null">`wechat` = #{wechat},</if>
				<if test="phone != null">`phone` = #{phone},</if>
				<if test="region != null">`region` = #{region},</if>
				<if test="remark != null">`remark` = #{remark},</if>
			</trim>
		</set>
		<where>`id`=#{id}</where>
	</update>

</mapper>