<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.marvelousness.springboot.oms.mapper.OrderDtoMapper">

	<resultMap type="org.marvelousness.springboot.oms.entity.dto.OrderDto" id="resultMap" extends="org.marvelousness.springboot.oms.mapper.OrderMapper.resultMap">
		<association column="creator_id" property="creator" select="org.marvelousness.springboot.oms.mapper.UserDtoMapper.selectByPrimaryKey" />
		<association column="executor_id" property="executor" select="org.marvelousness.springboot.oms.mapper.UserDtoMapper.selectByPrimaryKey" />
		<association column="customer_id" property="customer" select="org.marvelousness.springboot.oms.mapper.CustomerMapper.selectByPrimaryKey" />
	</resultMap>



	<sql id="table">`oms_order` o JOIN `oms_customer` c ON o.customer_id = c.id</sql>
	<sql id="columns">o.`id`, o.`number`, o.`customer_id`, o.`creator_id`, o.`executor_id`, o.`amount`, o.`deal_time`, o.`create_time`, o.`remark`</sql>

	<sql id="where">
		<where>
			c.`is_deleted` = 0
			<if test="creator != null or executor != null">
				AND (
				<trim prefixOverrides="OR">
					<if test="creator != null">OR o.`creator_id` = #{creator}</if>
					<if test="executor != null">OR o.`executor_id` = #{executor}</if>
				</trim>
				)
			</if>
			<if test="keyword != null and keyword != ''">
				AND (
				o.`number` = #{keyword}
				OR c.`name` LIKE CONCAT('%', #{keyword}, '%')
				OR c.`nick` LIKE CONCAT('%', #{keyword}, '%')
				OR c.`wangwang` LIKE CONCAT('%', #{keyword}, '%')
				OR c.`qq` LIKE CONCAT('%', #{keyword}, '%')
				OR c.`wechat` LIKE CONCAT('%', #{keyword}, '%')
				OR c.`phone` LIKE CONCAT('%', #{keyword}, '%')
				OR c.`region` LIKE CONCAT('%', #{keyword}, '%')
				OR c.`remark` LIKE CONCAT('%', #{keyword}, '%')
				)
			</if>
		</where>
	</sql>

	<!-- 根据主键查询单条数据 -->
	<select id="selectByPrimaryKey" resultMap="resultMap" useCache="false">
		SELECT
		<include refid="columns" />
		FROM `oms_order` o
		<where>o.`id` = #{id} </where>
		LIMIT 1;
	</select>

	<!-- 查询列表 -->
	<select id="select" resultMap="resultMap" useCache="false">
		SELECT
		<include refid="columns" />
		FROM
		<include refid="table" />
		<include refid="where" />
		ORDER BY o.`create_time` DESC
		<if test="limit != null">
			<choose>
				<when test="offset != null and offset > -1">LIMIT #{offset}, #{limit}</when>
				<otherwise>LIMIT #{limit}</otherwise>
			</choose>
		</if>
	</select>

	<!-- 查询总数 -->
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM
		<include refid="table" />
		<include refid="where" />
	</select>

</mapper>