<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.marvelousness.springboot.oms.mapper.UserDtoMapper">

	<resultMap type="org.marvelousness.springboot.oms.entity.dto.UserDto" id="resultMap" extends="org.marvelousness.springboot.oms.mapper.UserMapper.resultMap">
		<result column="departmentName" property="departmentName" />
		<result column="departmentId" property="departmentId" />
		<result column="is_leader" property="isLeader" jdbcType="TINYINT" />
	</resultMap>

	<sql id="table">
		oms_sys_user u LEFT JOIN oms_sys_department_user_relation r ON r.user_id = u.id LEFT JOIN oms_sys_department d ON d.id = r.dep_id
	</sql>
	<sql id="where">
		<where>u.`is_deleted` = 0</where>
	</sql>
	<sql id="columns">
		u.id, u.`userid`, u.`name`, u.`gender`, u.`mobile`, u.`email`, u.`hired_date`, u.`create_time`, u.`is_disabled`,
		d.`name` AS 'departmentName', d.id AS 'departmentId', r.is_leader
	</sql>

	<!-- 查询列表 -->
	<select id="selectByPrimaryKey" resultMap="resultMap" useCache="false">
		SELECT
		<include refid="columns" />
		FROM
		<include refid="table" />
		<where>u.`id` = #{id} </where>
	</select>

	<!-- 查询列表 -->
	<select id="select" resultMap="resultMap" useCache="false">
		SELECT
		<include refid="columns" />
		FROM
		<include refid="table" />
		<include refid="where" />
		ORDER BY u.`create_time` DESC
		LIMIT #{offset}, #{limit}
	</select>

	<!-- 查询总数 -->
	<select id="count" resultType="java.lang.Long">
		SELECT COUNT(1) FROM
		<include refid="table" />
		<include refid="where" />
	</select>

</mapper>